.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  transition: transform 0.5s ease-in-out;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 400px;
  width: 100%;
  height: 130px;
  background-image: linear-gradient(to top, #ebebeb 30%, #ebebeba6, transparent);
  z-index: 1;
}

.banner>a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@media only screen and (max-width: 1600px) {
  .banner {
    height: 400px;
  }

  .gradient {
    top: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    width: 100%;
    max-width: 100%;
    height: 350px;
  }

  .gradient {
    top: 250px;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    height: 250px;
    width: 100%;
    max-width: 100%;
  }

  .gradient {
    top: 170px;
    height: 80px;
  }
}