* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    position: absolute;
    top: 500px;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 1200px;
}

.recents {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
}

.iten {
    width: 200px;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.123);
}

.iten > h3 {
    font-size: 0.9em;
    font-weight: 500;
}

.inspired {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.inspired > h2 {
    font-size: 1.25em;
    margin-left: 20px;
    font-weight: 600;
}

.box-products {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
}

.product {
    width: 210px;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}