* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    position: absolute;
    top: 480px;
    width: 100%;
    z-index: 2;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    padding: 0 10px;
}

.recents {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
    gap: 10px;
}

.iten {
    width: 100%;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.096);

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.iten:hover > h3 {
    color: rgb(0, 161, 161);
}

.product {
    width: 100%;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.product:hover > h3 {
    color: rgb(0, 161, 161);
}

.iten > h3 {
    font-size: 0.9em;
    font-weight: 500;
    max-height: 2.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.product > h3 {
    font-size: 0.9em;
    font-weight: 500;
    max-height: 2.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.iten > .picture {
    height: 105px;
    margin: 0 auto;
    width: 105px;
}

.iten > .picture > img {
    width: 100%;
    height: 100%;
}

.product > .picture {
    height: 105px;
    margin: 0 auto;
    width: 105px;
}

.product > .picture > img {
    width: 100%;
    height: 100%;
}

.inspired {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.inspired > h2 {
    font-size: 1.25em;
    margin-left: 20px;
    font-weight: 600;
}

.box-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
    gap: 10px;
}

@media only screen and (max-width: 1600px) {
    .content {
        top: 400px;
    }
}

@media only screen and (max-width: 910px) {
    .center {
        align-items: flex-start;
        justify-content: center;
    }
}