* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gradient {
    position: absolute;
    top: 510px;
    width: 100%;
    height: 130px;
    background-image: linear-gradient(to top, #ebebeb 30%, #ebebeba6, transparent);
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    position: absolute;
    top: 500px;
    width: 100%;
    max-width: 1200px;
}

.recents {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
}

.iten {
    width: 200px;
    height: 280px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.iten > h3 {
    font-size: 0.9em;
    font-weight: 500;
}